

img {
    width: 100%;
    height: auto;

}

.body{
    text-size-adjust: auto;
}


.menu_icon {
    width: auto;
    height: 40px;

}


.nav {
    display: flex;
    align-items: center;
    
    height: 60px;

}

.nav_title{
    font-size: 30px;
    margin-left: 10px;
    
}

.nav_search{
    margin-left: auto; 
}



.cta_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 550px;
  margin-bottom: 70px;
    
  background: linear-gradient( 45deg , rgba(01,01,01,0.9) 1%, rgba(01,01,01,0.5)1%), url('./assets/camera.jpeg');
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;

    line-height: 0

    }


.cta_title{
    font-size: 90px;
    padding-top: 85px;
   
    
}


.cta_subtext{
    font-size: 25px;
    padding-top: 225px;


    position: absolute;
 
}

.cta_button{
    height: 30px;
    width: 175px;
    margin-top: 55px;
    font-size: 15px;
    background-color: transparent;
    border: 2px white solid;
    border-radius: 10px;
    
}


.feature_boxes{
    display: flex;
    justify-content: space-evenly;
height: 375px;
width: auto;




}

.feature_box_events{
display: flex;
align-items: center;
justify-content: center;
height: 300px;
width: 300px;
background: linear-gradient( 45deg , rgba(01,01,01,0.9) 1%, rgba(01,01,01,0.5)1%), url(./assets/events.jpg);
background-size: cover;
font-size: 30px;

}


.feature_box_services{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( 45deg , rgba(01,01,01,0.9) 1%, rgba(01,01,01,0.5)1%), url(./assets/services.jpg);
    height: 300px;
    width: 300px;
    background-size: cover;
    font-size: 30px;
}

.feature_box_contact{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( 45deg , rgba(01,01,01,0.9) 1%, rgba(01,01,01,0.5)1%), url(./assets/contact.jpg);
    height: 300px;
    width: 300px;
    background-size: cover;
    font-size: 30px;

}

.submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: auto;
    background: url(./assets/submit.jpg);
    background-size: cover;
    background-position: center;
    line-height: 1px;


}

.submit_text{
    font-size: 45px;
    margin-top: 95px;
}

.submit_button{
    height: 30px;
    width: 175px;
    margin-top: 145px;
    font-size: 15px;
    background-color: transparent;
    border: 2px white solid;
    border-radius: 10px;

}

.enter_text{
    font-size: 25px;
}


.paragraph{
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1px;
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 160px;



}

.quote{
    font-style: italic;
font-size: 32px;

}


.manpic{
    width: 300px;
    padding-top: 40px;

    
}


.blackbox{
    height: 400px;
    background-color: black;

}

.map {
    display: flex;
    width: 600px;
    padding-left: 25px;
    padding-top: 25px;

}

.info {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 82px;
    
    margin-top: -300px;
    

}

.camera_icon{
    width: 50px;
    display: flex;
    margin-left: 800px;
    


}